/* sombras.css */
div{
	width: 150px;
	height: 150px;
	background: red;
	
	margin: 60px;
}

#uno{
		/* Pos. X | Pos. Y | Blur | Color */
	box-shadow: 20px 15px 0 #090;
}

#dos{
		/* Números negativos -> Para el otro lado */
	box-shadow: -20px -15px 100px #009;
}

#tres{
						/* Extensión */
	box-shadow: 20px 15px 5px 150px #F90;
}

#cuatro{
		/* Sombra interna */
	box-shadow: inset 15px 5px 20px rgba(255,255,255,0.8);
}

#cinco{
	transition: all 0.6s;
}
#cinco:hover{
	box-shadow: 0 0 0 10px blue;
	border-radius: 50%;
	/* border: 10px solid blue; */
}

.uno{
				/* X | Y | Blur | Color */
	text-shadow: 15px 5px 2px tomato;
}

.dos{
				/* X | Y | Blur | Color */
	text-shadow: 0 -20px 0 tomato;
}

.tres{
				/* Separamos por coma, podemos indicar varias sombras */
	text-shadow: 0 -20px 0 tomato, 
				10px -10px 2px peru;
}

.cuatro{
			/* Resplandor */
	text-shadow: 0 0 20px #F90;
}

/* PERFORMANCEEEEEE */








